/*cabecalho inciio*/

.header-top {
  width: 92rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-top img {
  flex-grow: 2;
  width: 16rem;
  margin-left: 7rem;
}

.header-top h1 {
  flex-grow: 1;
}

.header-top h1 img {
  margin-top: 0.5rem;
  margin-right: 5rem;
  float: right;
  width: 27rem;
}

/*cabeçalhoazul*/
#menu-pages {
  background-color: #312783;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
}

#menu-pages ul {
  display: inline;
}

#menu-pages li {
  display: inline;
  flex-shrink: 0;
  margin-right: 1rem;
}

#menu-pages li:hover {
  opacity: 0.6;
}

#menu-pages a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

/*cabecalho fim*/

/*PAGINA INICIO*/
#inicio {
  border: 0;
  width: 100%;
  height: max-content;
  text-align: justify;
  list-style-type: disc;

  > h1,
  h2,
  h3,
  p {
    display: flex;
    font-family: sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  > p,
  ul {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

#img-main-inicio {
  border: 0.1rem solid #ccc;
  width: 51rem;
  margin-left: auto;
  margin-right: auto;

  > img {
    width: 50rem;
  }
}

/*PAGINA INICIAL FIM*/

/*ESTRUTURA DO CURSO INICIO*/
.container-li-structure {
  display: flex;
  gap: 15rem;
  align-items: center;
  text-align: justify;
}

.container-footer ul,
li {
  padding: 0.3rem;
  list-style-type: disc;
}

.column-structure2 {
  display: flex;
  float: right;
}
/*ESTRUTURA DO CURSO FIM*/

/*SISTEMA DE AVALIAÇÃO INICIO*/
/*SISTEMA DE AVALIAÇÃO FIM*/

/*CORPO DOCENTE INICIO*/
.container-main h1 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: #312783;
  font-size: 3rem;
  font-weight: 550;
  margin-bottom: 0.5;
}

.container-main h2 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: #312783;
  font-size: 1.8rem;
  font-weight: 550;
  margin-bottom: 0.5;
}

.container-main h3 {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  text-indent: 1rem;
  margin-top: 0;
  text-align: justify;
}

.container-footer ul,
li {
  padding: 0.3rem;
  list-style-type: disc;
}

.container-profs {
  line-height: 0.5rem;
  display: flex;
  column-gap: 0.5rem;
}

.column-profs {
  width: 80rem;
}

.card-profs {
  background-color: #e7e7e7;
  border-radius: 0.5rem;
  padding: 0.1rem;
  margin: 0.5rem;
  height: 7rem;
  display: block;
}

.card-profs img {
  float: left;
  width: 6rem;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  padding-right: 1rem;
}

.card-profs h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-profs p {
  text-indent: 0.5rem;
  font-size: 1rem;
  line-height: 0.5rem;
}

.card-profs p i {
  letter-spacing: 0.1rem;
}

/*CORPO DOCENTE FIM*/

/*CAMPUS INICIO*/
#campusSld {
  display: flex;
  align-items: center;
}

.active {
  display: flex;
}

#carouselCampus {
  width: 50rem;
  display: flex;
  align-items: center;
}

#carouselCampus li {
  list-style: none;
}
/*CAMPUS FIM*/

/*COLEGIADO INICIO*/
/*COLEGIADO FIM*/

/*NDE INICIO*/
/*NDE FIM*/

/*FALE CONOSCO INICIO*/
#forms-container {
  padding: 1.5rem;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}
.card label {
  margin-bottom: 0.1rem;
  margin-top: 0.35rem;
}

.card button {
  margin-top: 0.35rem;
}

#forms-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}
/*FALE CONOSCO FIM*/

/*footer inicio*/
footer {
  background-color: #312783;
  bottom: 0;
  width: 100%;
}

.container-footer {
  width: 80rem;
  height: 10rem;
  border-top: 0.25rem solid red;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 0;
  gap: 15.5rem;
}

#footer-img {
  height: fit-content;
  width: 16rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

#footer_social_media {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 2rem;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  color: #f2f2d0;
}

#footer_social_media .footer-link {
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
  text-decoration: none;
}

#footer_social_media .footer-link i {
  font-size: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#youtube {
  background-color: #c4302b;
}

#twitter {
  background-color: #00acee;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

.footer-location {
  height: fit-content;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

#link-maps {
  text-decoration: none;
  color: #f2f2d0;
  font-family: sans-serif;
  margin-left: auto;
  right: 0%;
  margin-left: auto;
  margin-right: auto;

  > p {
    font-size: 0.9rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    > i {
      color: #5d617e;
    }
  }
}

.authors {
  width: 100%;
  position: sticky;
}

#github {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #f2f2d0;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #5d617e;
  padding: 0.4rem;
}

/*footer fim*/
