footer {
    background-color: #312783;
}

.container-footer {
    width: 80rem;
    height: 13rem;
    border-top: 0.2rem solid red;
    margin-left: auto;
    margin-right: auto;
}

.footer-img h1 {
    background-color: #c4302b;
    height: fit-content;
    width: 16rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

#footer_social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#footer_social_media .footer-link {
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    text-decoration: none;
}

#footer_social_media .footer-link i {
    font-size: 1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#youtube {
    background-color: #c4302b;
}

#twitter {
    background-color: #00acee;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

.footer-location {
    float: right;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}