@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Poppins";
}

/* Cabeçalho Superior */
.header-top {
  width: 100%;
}

.header-top img {
  width: 16rem;
  margin-left: 1.5rem;
}

.header-top h1 img {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  width: 27rem;
}

.container-header {
  margin-bottom: 3rem;
}

/* Menu de Páginas */
#menu-pages {
  background-color: #312783;
  text-align: center;
  align-items: center;
  padding: 0.5rem;
}

#menu-pages ul {
  display: inline;
}

#menu-pages li {
  display: inline;
  flex-shrink: 0;
  margin-right: 1rem;
}

#menu-pages li:hover {
  opacity: 0.6;
}

#menu-pages a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

/* Conteúdo Principal */
.container-main h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  color: #312783;
  font-size: 1.8rem;
  font-weight: 550;
}

.container-main h3 {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-indent: 1rem;
  text-align: justify;
}

/* Página Inicial */
#hp-section-one {
  margin: 3rem 0 5rem 0;
}

#hp-first-text h4 {
  font-size: 3.5rem;
  width: 25rem;
  line-height: 3.75rem;
  font-weight: 700;
  color: #312783;
}

#hp-first-text h5 {
  font-size: 1.5rem;
  color: #c4302b;
}

#hp-first-btn button {
  margin-top: 0.75rem;
  border-color: #312783;
  background-color: #312783;
  border-radius: 1rem;
}

#hp-first-btn a {
  text-decoration: none;
  color: #fff;
}

#hp-first-btn button:hover {
  opacity: 0.9;
}

#hp-section-two {
  margin: 13rem 0 3rem 0;
}

#container-hp-acc {
  width: fit-content;
}

#container-hp-acc .hp-accordion {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.2);
  margin-bottom: 0.25rem !important;
}

#container-hp-acc .hp-accordion,
.hp-accordion-header,
.hp-accordion-body {
  margin: 0;
  box-sizing: border-box !important;
  align-items: center;
  justify-content: center;
}

.hp-accordion-header {
  width: 100%;
  text-align: left;
  padding: 1rem;
  background-color: rgb(240, 240, 240); /* Cor cinza igual ao background do container */
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.hp-accordion-header:hover,
.hp-accordion-header:active {
  background-color: rgb(240, 240, 240); /* Manter a cor cinza no hover e active */
}

.hp-accordion-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;
}

.hp-accordion-body.active {
  max-height: 500px; /* Suficiente para acomodar o conteúdo */
  opacity: 1;
  padding: 1rem;
}

.hp-accordion-body p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

.arrow {
  transition: transform 0.3s ease;
}

.hp-accordion-body.active + .hp-accordion-header .arrow {
  transform: rotate(180deg);
}

/* Estrutura do Curso */
#grade-curricular {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.5rem 0;
}

/* Sistema de Avaliação */
#table-evaluation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.1rem 0 0 3rem;
}

#table-evaluation > ul,
#table-evaluation li {
  padding: 0.3rem;
  list-style-type: disc;
  width: fit-content;
}

/* Corpo Docente */
#cont-prof-slide {
  margin-bottom: 2rem;
}

.card-prof-slide {
  margin: 1rem 0 2.5rem 0;
  padding: 1rem;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.card-prof-slide button {
  margin-top: 0.35rem;
  background: #312783;
  border: none;
}

.card-prof-slide button:hover {
  background: #322783;
  opacity: 0.9;
}

.card-prof-slide button a {
  text-decoration: none;
  color: #fff;
}

.swiper-pagination-bullet {
  background: #c4302b !important;
}

.profs-wrapper {
  margin-bottom: 1rem;
}

/* Campus */
.campus-slider {
  padding: 2rem;
}

.slider-wrapper-campus {
  max-width: 58rem;
  position: relative;
  margin: 0 auto;
}

.slider {
  aspect-ratio: 16/9;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.container-campus h2 {
  margin-left: 0;
  color: #312783;
  font-size: 1.8rem;
  font-weight: 550;
}

.container-campus h3 {
  font-weight: 400;
  margin: 0 1rem;
  font-size: 1.1rem;
  text-indent: 1rem;
  margin-top: 0.25rem;
  text-align: justify;
}

.container-campus p {
  font-weight: 400;
  margin: 0 1rem 0.15rem 0;
  font-size: 1.1rem;
  text-align: justify;
}

#desc-campus-column {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

/* Colegiado */
.cmt-cont {
  margin-bottom: 2rem !important;
}

.cmt-wrapper {
  margin-bottom: 1rem;
}

/* NDE */
.cont-nde {
  margin-bottom: 2rem;
}

.nde-wrapper {
  margin-bottom: 1rem;
}

/* Fale Conosco */
.card-fc {
  margin: 2rem 0;
  padding: 2rem;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-fc label {
  margin: 0.35rem 0.1rem 0;
}

.card-fc button {
  margin-top: 0.35rem;
  background-color: #312783;
  border: none;
}

.card-fc button:hover {
  background-color: #4a3cb8;
}

#form label {
  font-weight: 500;
}

#forms-container h2 {
  margin: 0;
  font-weight: 650;
}

.input-control.error input,
.input-control.error select,
.input-control.error textarea {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 0.85rem;
  font-weight: 400;
}

/* Consulta de Chamados */
#ouvidoria {
  margin: 1rem 0 0.5rem 0;
}

/* Rodapé */
footer {
  background-color: #312783;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
}

.container-footer {
  width: 80rem;
  height: 10rem;
  border-top: 0.25rem solid red;
  position: relative;
  bottom: 0;
}

#footer-img {
  width: 16rem;
}

#footer_social_media {
  gap: 2rem;
  margin: auto;
  color: #f2f2d0;
}

#footer_social_media .footer-link {
  color: #fff;
  border-radius: 50%;
  transition: all 0.4s;
  text-decoration: none;
}

#footer_social_media .footer-link i {
  font-size: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#youtube {
  background-color: #c4302b;
}

#twitter {
  background-color: #00acee;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#link-maps {
  text-decoration: none;
  color: #f2f2d0;
}

#link-maps p {
  font-size: 0.9rem;
  text-align: center;
}

#link-maps p i {
  color: #5d617e;
}

.authors {
  width: 100%;
  position: sticky;
}

#github {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #f2f2d0;
  font-size: 1rem;
  background-color: #5d617e;
  padding: 0.4rem;
}

/* Variáveis CSS */
:root {
  --color-neutral-40: #6c757d; /* Cor Cinza */
}

body {
  margin-top: 64rem;
  margin-bottom: 64rem;
}

.hp-accordion {
  margin: 1rem 0;
}

.hp-accordion-header:hover {
  background-color: #f8f9fa;
}

.hp-accordion-header:active {
  background-color: #f8f9fa;
}

.header-top .col-lg-8 {
  display: flex;
  align-items: center;
}

.header-top .col-lg-8::after {
  content: "ENGENHARIA\A DE\A SOFTWARE";
  margin-left: 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: #312783;
  font-weight: 600;
  white-space: pre;
}
